@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

#__next {
  overflow-y: auto;
}

.dark {
  color-scheme: dark;
}

.caret-default {
  caret-color: black;
}

.dark .caret-default {
  caret-color: white;
}

/* text */
.text-color-primary {
  @apply text-gray-900;
}

.text-color-secondary {
  @apply text-gray-500;
}

.bg-hover-theme {
  @apply bg-theme-500/20;
}

.hover-gray {
  @apply hover:bg-gray-100;
}

.hover-theme {
  @apply hover:bg-theme-500/20;
}

.bg-text-field {
  @apply bg-gray-50;
}
